/* nav > ul means immidate chaid */
nav > ul{
    display: flex;
}
ul li:hover{
    background-color: lightgray;
}
ul li{
    list-style: none;
    margin-left: 20px;
}
ul a {
    text-decoration: none;
    color: black;
}
/* jeheto dropdown hidden ache tai seamantic er li k hover 
korte hobe ar dropdown er ul semantic er peter moddhe ache*/
nav > ul > li:hover > ul {
    display: block;
}
/* absolute hole others element er place k dhakka dakkhi korbe na  */
.dropdown{
    display: none;
    position: absolute;
    background-color: lightgrey;
    padding: 0px;
}

.dropdownMenu{
    display: none;
    position:absolute;
    background-color: lime;
    padding: 0px;
    margin: 0px;
}
.dropdownMenu li:nth-child(odd){
    background-color: limegreen;

}